{% extends 'base.html' %}

{%  block content %}

<div>
	<p>The body</p>
	<p>Text here from home page</p>

	{{text}}

	{% for items in list_of_values %}
	<p style="text-transform: uppercase;">{{items}}</p>
	{% include 'personal/snippets/body_snippets.html' with value=items %}
	{% endfor %}


</div>

{% endblock content %}